.display-transation {
  transition: transform 0.6s ease;
}
.from-right {
  opacity: 0;
  transform: translateX(200%);
}
.from-left {
  opacity: 0;
  transform: translateX(-200%);
}
.from-bottom {
  opacity: 0;
  transform: translateY(50%);
}
.from-top {
  opacity: 0;
  transform: translateY(-200%);
}
.from-bottom-left {
  opacity: 0;
  transform: translate(-50%, 200%);
}
.from-bottom-left.show {
  opacity: 1;
  transform: translate(0, 0);
}
.from-left.show {
  opacity: 1;
  transform: translateX(0);
}
.from-right.show {
  opacity: 1;
  transform: translateX(0);
}
.from-top.show {
  opacity: 1;
  transform: translateY(0);
}
.from-bottom.show {
  opacity: 1;
  transform: translateX(0);
}
.ava-img:nth-child(1) {
  animation-delay: 0s;
}
.ava-img:nth-child(2) {
  animation-delay: 0.6s;
}
.ava-img:nth-child(3) {
  animation-delay: 1.2s;
}
.ava-img:nth-child(4) {
  animation-delay: 1.8s;
}
.ava-img:nth-child(5) {
  animation-delay: 2.2s;
}
.complete-bar {
  height: 5px;
  background-color: #0076ff;
  transition: transform;
  animation: processing-reverse 0.2s forwards;
}
.active .complete-bar {
  animation-name: processing;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease;
}
.active .process-title {
  font-weight: 700;
  color: #0076ff;
}
.step-img {
  animation: tran-opacity-reverse 1s forwards;
}
.active .step-img {
  animation: tran-opacity 0.4s forwards;
}

@keyframes tran-opacity {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes tran-opacity-reverse {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes processing {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

@keyframes processing-reverse {
  0% {
    width: 100%;
  }
  100% {
    width: 0%;
  }
}

.animation-flying {
  animation-name: flying;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes flying {
  0% {
    transform: translate(0, 0px);
  }
  65% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, 0px);
  }
}

/* block 2 */
.text-trigger h1 {
  color: #0a083a33;
}
.text-trigger.show h1 {
  color: #0076ff;
}
.text-trigger p {
  opacity: 0;
}
.text-trigger.show p {
  opacity: 1;
}
.trigger-img {
  opacity: 0;
  transform: translateY(-200%);
}
.show.trigger-img {
  opacity: 1;
  transform: translateY(0);
  transition: transform 0.6s ease;
}
